<!-- Index.cshtml -->
@model IEnumerable<Product>

<h1>Product List</h1>

<ul>
    @foreach (var product in Model)
    {
        <li>
            <a asp-action="Detail" asp-route-id="@product.ID">@product.Name</a> - $@product.Price
        </li>
    }
</ul>
