@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We are committed to protecting your privacy. 
    When you register your coffee shop with us, we collect only the necessary information required for registration and communication purposes, such as your name, email address, phone number, shop name, and location.
    We do not share your information with third parties unless required for operational purposes, and we implement strict security measures to safeguard your data.
    By using our registration services, you consent to our privacy practices outlined herein..
</p>
